{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Financial Eye - Transart Team
{% endblock %}



{% block body %}

    <article>
        <header class="page-header">
            <h2>Welcome to Financial Eye!</h2>

        </header>
        <div class="col-md-10 col-md-offset-1" style="text-align: left">
            <h3>Welcome!</h3>

            <p>This is the back end of Financial Eye APP. If you are interested, please go to our <a href="https://github.com/ucd-nlmsc-teamproject/Transart">Github page</a> and downlaod the Android APK.</p>

            <p>Thanks</p>

            <p>Team Transart</p>

        </div>
    </article>


{% endblock %}